* {
    box-sizing: border-box;
    margin: 0;
    background-color: lightslategrey;
}

/* header {
    display: flex;
    height: 150px;
    background-color: peru;
} */

/* footer {
    background-color: darkolivegreen;
    height: 150px;
    position: fixed;
    bottom: 0;
} */

#main {
    /* border: 2px solid grey; */
    font-family: "Titillium Web", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-piece {
    /* border: 2px solid green; */
    margin: 30px;
    width: 300px;
    height: 300px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    /* align-content: center; */
    /* justify-content: center; */
    /* vertical-align: middle; */
}

.image-container {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px ridge #30475e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: flex;
    filter: saturate(10%);
    transition: filter 0.5s;
    transition: transform 400ms;
}

.image-container:hover {
    filter: saturate(100%);
    transform: scale(1.1);
}

img {
    max-height: 100%;
}

.text-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    /* vertical-align: middle; */
    justify-content: center;
}

.text-container > p {
    /* border: 2px solid red; */
    /* margin-top: 20px; */
    font-size: 20px;
    order: 1;
    text-decoration: none;
    text-align: center;
    align-self: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    color: #ccc5b9;
}
